.manage-news {
  width: 300px;
  margin-bottom: 50px;
  height: 39px;
  font-family: Merriweather;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
}
.add-news-item {
  font-family: Merriweather;
  padding-left: 70px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
}
.news-event {
  padding-top: 10px;
  padding-left: 70px;
  font-family: Source Sans Pro;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1b1c1a;
}
.active-news-admin {
  width: 99px;
  height: 20px;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}
.archive-news-admin {
  width: 135px;
  height: 20px;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #323a45;
}
.manage-approvals-approvals {
  width: 170px;
  height: 20px;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000000;
}
