.body-text {
  color: black;
  font-size: 1.2rem;
  font-family: Source Sans Pro;
  line-height: 1.6;
}
.body-text-s {
  color: black;
  font-size: 1rem;
  font-family: Source Sans Pro;
  line-height: 1.6;
}
.body-text-l {
  color: black;
  font-size: 1.3rem;
  font-family: Source Sans Pro;
  line-height: 1.6;
}
.table-bordered {
  border: 1px solid black;
}

.alert-dialog th {
  font-size: 1rem;
  color: black;
  font-weight: 200;
  border: 1px solid black;
}
.alert-dialog td {
  color: black;
  font-size: 1.15rem;
  font-family: Source Sans Pro;
  line-height: 1.6;
  font-weight: bolder;
  border: 1px solid black;
}
.alert-dialog thead {
  border: 1px solid black;
}

#dialogClose {
  .ds-c-button:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}
