$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.jh-navbar {
  background-color: #353d47;
  padding: 0.2em 1em;
  .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #353d47;
  }
  .dropdown-toggle::after {
    margin-left: 0.15em;
  }
  ul.navbar-nav {
    padding: 0.5em;
    .nav-item {
      margin-left: 1.5rem;
    }
  }
  a.nav-link {
    font-weight: 400;
    > span {
      margin-left: 5px;
    }
  }
  .jh-navbar-toggler {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 10px;
    &:hover {
      color: #fff;
    }
  }
}
.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    img {
      height: 45px;
    }
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
.btn-nav {
  border: 3px solid white;
  border-radius: 10px;
  background-color: #0071bc;
  color: black;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  font-size: 20px;
  font-weight: bolder;
  cursor: auto !important;
  margin-top: -7px;
  margin-left: 20px;
}
.btn-nav:hover {
  background-color: #046b99;
}
.navbar {
  background-color: #0071bc !important;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 6rem 0.5rem 4.5rem !important;
}
.navItem {
  color: white;
}
a {
  color: #ffffff;
  &:hover {
    color: #aeb0b5;
    text-decoration: none;
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.9rem;
  line-height: inherit;
  white-space: nowrap;
}
.MuiTypography {
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.MuiTypography {
  > h6 {
    color: #009cd8;
    font-size: 1.1111111111111112rem;
    font-family: Source Sans Pro;
    font-weight: bolder;
    line-height: 1.6;
  }
}
.navbar-dark .navbar-toggler-icon {
  border: 1px solid !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 249, 251, 0.473)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  margin-right: -50px;
}

.navbar-toggler {
  border-color: #f8f9fa;
}

.button-disabled {
  border: 3px solid !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: gray;
  border-color: gray !important;
  min-width: 90px !important;
  max-width: 170px !important;
  cursor: not-allowed !important;
  height: 50px;
}
.button-request-disabled {
  border-color: gray !important;
  cursor: not-allowed !important;
}
.disabled-link {
  pointer-events: none;
  color: gray;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
a {
  color: white;
  text-decoration: unset;
  font-weight: 700;
}
a:hover {
  color: #112e51 !important;
}
a:active {
  color: white;
}
a:focus {
  outline: 2px dotted #aeb0b5;
  outline-offset: 3px;
}
a:visited {
  color: white;
  // text-decoration: underline !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.text {
  font-size: 1.29rem;
  font-weight: 900;
}
.btn-request {
  border: 4px solid white;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 25px !important;
  padding-bottom: 5px;
  padding-left: 22px !important;
  max-width: 186px;
  margin-bottom: 5px;
}
.btn-request-disabled {
  border: 4px solid #888888;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 25px !important;
  padding-bottom: 5px;
  padding-left: 22px !important;
  max-width: 186px;
  margin-bottom: 5px;
  pointer-events: none;
}
.disabled-text {
  color: #888888;
  cursor: not-allowed !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.visited-color {
  font-family: Source Sans Pro;
  color: rgba(0, 0, 0, 0.87) !important;
}
.ds-c-table td {
  background-color: #fff;
  color: black;
}
.ds-c-table th,
.ds-c-table thead td {
  background-color: #f1f1f1;
  text-align: left;
  color: black;
}
.dropdown-for-admin {
  z-index: 10000;
}
.dropdown-for-admin-item {
  color: black;
  font-size: 10px;
}
#dropdown a {
  color: black;
}
#dropdown a:hover {
  background-color: #888888;
}
.app-title {
  width: 160px;
  height: 62px;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.menu-text {
  font-family: Source Sans Pro;
}
